
@{
    ViewData["Title"] = "NewEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model TMM_Asp.Models.TeamMembersModel



<div class="page-container">

    <!-- Div for filter options -->
    <div class="filter-container">
        <h4>Options:</h4>
        <hr />
        <!-- Sort option -->
        <div>
            <text>Sort By:</text>
            <form asp-action="Member" asp-controller="TeamMembers"
                  method="get">
                <select name="SortMethod">
                    <option value="FirstName">First Name</option>
                    <option value="LastName">Last Name</option>
                    <option value="Address">Address</option>
                    <option value="EmailAddress">Email Address</option>
                    <option value="PhoneNumber">Phone Number</option>
                    <option value="Position">Position</option>
                    <option value="Department">Department</option>
                    <option value="StartDate">Start Date</option>
                    <option value="EndDate">End Date</option>
                    <option value="EmploymentStatus">Employment Status</option>
                    <option value="Shift">Shift</option>
                    <option value="Manager">Manager</option>
                    <option value="FavoriteColor">Favorite Color</option>

                </select>
                <input type="submit" value="Sort Team Members" />
            </form>
            <hr />
        </div>

        <!-- Search Employee -->
        <div>
            @using (Html.BeginForm("Search", "TeamMembers"))
            {

                <text>Search by Name:</text>
                <div class="input-field">
                    First Name: <input type="text" name="names" /><br />
                </div>
                <div class="input-field">
                    Last Name: <input type="text" name="names" /><br />
                </div>
                <input type="submit" value="Search" />
                <hr />

            }
        </div>

        <!-- Filter Options -->
        <div>

            @using (Html.BeginForm("FilterTeam", "TeamMembers"))
            {
                <text>Filter Employees:</text>

                <!-- Departments -->
                <div>
                    <text>Department:</text> <br />
                    @foreach (var departments in Model.Department)

                    {
                        <input type="checkbox"
                               name="filters"
                               value="@departments.Key" />
                        @departments.Key
                        <text>(@departments.Value)</text>
                        <br />
                    }
                    <hr />
                </div>



                <!-- Employment -->
                <div>
                    <text>Employment:</text> <br />
                    @foreach (var employment in Model.Employment)
                    {
                        <input type="checkbox"
                               name="filters"
                               value="@employment.Key" />
                        @employment.Key
                        <text>(@employment.Value)</text>
                        <br />
                    }
                    <hr />
                </div>

                <!-- Position -->
                <div>
                    <text>Position:</text> <br />
                    @foreach (var position in Model.Position)
                    {
                        <input type="checkbox"
                               name="filters"
                               value="@position.Key" />
                        @position.Key
                        <text>(@position.Value)</text>
                        <br />
                    }
                    <hr />
                </div>

                <!-- Shift -->
                <div>
                    <text>Shift:</text> <br />
                    @foreach (var shift in Model.Shift)
                    {
                        <input type="checkbox"
                               name="filters"
                               value="@shift.Key" />
                        @shift.Key
                        <text>(@shift.Value)</text>
                        <br />
                    }
                    <hr />
                </div>

                <!-- Manager -->
                <div>
                    <text>Manager:</text> <br />
                    @foreach (var manager in Model.Manager)
                    {
                        <input type="checkbox"
                               name="filters"
                               value="@manager.Key" />
                        @manager.Key
                        <text>(@manager.Value)</text>
                        <br />
                    }
                    <hr />
                </div>
                <input type="submit" value="Submit" />
            }
        </div>
    </div>

    <!-- Main Page -->
    <div class="main-container">

        <!-- This is the bar across the top of the table with options such as add and delete -->
        <div class="input-field">

            <!-- Add Team Member Modal -->
            <button type="button" class="" data-toggle="modal" data-target="#myModal">Add</button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("NewEmployee", "TeamMembers"))
                            {

                                <text>Add Employee</text>
                                <div class="input-field">
                                    First Name: <input type="text" name="newEmployee" /><br />
                                </div>
                                <div class="input-field">
                                    Last Name: <input type="text" name="newEmployee" /><br />
                                </div>
                                <div class="input-field">
                                    Address: <input type="text" name="newEmployee" /><br />
                                </div>
                                <div class="input-field">
                                    Email: <input type="text" name="newEmployee" /><br />
                                </div>
                                <div class="input-field">
                                    Phone Number: <input type="text" name="newEmployee" /><br />
                                </div>
                                <div class="input-field">
                                    Position: <input type="text" name="newEmployee" /><br />
                                </div>
                                <div class="input-field">
                                    Department: <input type="text" name="newEmployee" /><br />
                                </div>
                                <div class="input-field">
                                    Start Date: <input type="text" name="newEmployee" /><br />
                                </div>
                                <div class="input-field">
                                    End Date: <input type="text" name="newEmployee" /><br />
                                </div>
                                <div class="input-field">
                                    Employment Status: <input type="text" name="newEmployee" /><br />
                                </div>
                                <div class="input-field">
                                    Shift: <input type="text" name="newEmployee" /><br />
                                </div>
                                <div class="input-field">
                                    Manager: <input type="text" name="newEmployee" /><br />
                                </div>
                                <div class="input-field">
                                    Favorite Color: <input type="text" name="newEmployee" /><br />
                                </div>
                                <hr />

                                <input type="submit" value="Search" />

                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Delete Team Member -->
            <form asp-action="Member" asp-controller="TeamMembers">
                <input type="submit" value="Delete" />
            </form>
            <!-- Reset Results -->
            <form asp-action="Member" asp-controller="TeamMembers">
                <input type="submit" value="Reset Results" />
            </form>
        </div>

        <!-- Table -->
        <table class="container">
            <tr>
                <th>Select</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Email Address</th>
                <th>Phone Number</th>
                <th>Photo</th>
                <th>Position</th>
                <th>Department</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Employment Status</th>
                <th>Shift</th>
                <th>Manager</th>
                <th>Favorite Color</th>
            </tr>

            @foreach (var member in Model.Employees)
            {
                <tr>
                    <td><input type="checkbox" value="@member.ID" name="employee" /></td>
                    <td>@member.FirstName</td>
                    <td>@member.LastName</td>
                    <td>@member.Address</td>
                    <td>@member.EmailAddress</td>
                    <td>@member.PhoneNumber</td>
                    <td>@member.Photo</td>
                    <td>@member.Position</td>
                    <td>@member.Department</td>
                    <td>@member.StartDate</td>
                    <td>@member.EndDate</td>
                    <td>@member.EmploymentStatus</td>
                    <td>@member.Shift</td>
                    <td>@member.Manager</td>
                    <td>@member.FavoriteColor</td>
                </tr>
            }
        </table>

    </div>

</div>
